<% if map_asset.errors.any? %>
	<div id="error_explanation">
    <h2><%= pluralize(map_asset.errors.count, "error") %> prohibited this map_asset from being saved:</h2>
    <ul>
      <% map_asset.errors.each do |error| %>
    	 <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
