<div class= "modal-body">
<p>
  <strong>Place:</strong>
  <%= map_asset.place %>
</p>
<p>
  <strong>Address:</strong>
  <%= map_asset.address %>
</p>
<p>
  <strong>Category:</strong>
  <%= map_asset.category %>
</p>
<p>
  <strong>Review:</strong>
  <%= map_asset.review %>
</p>
</div>
<div class = "modal-footer">
	<button type="button" class="btn btn-secondary close-model" data-bs-dismiss="modal">Close</button>
</div>
