<h1> Assets </h1>
<%= link_to('New Asset', new_map_asset_path, class: 'btn btn-primary btn-lg mb-4', data: { bs_toggle: 'modal', bs_target: '#new_user_modal', remote: true }) %>
<!-- Modal -->
<div class="modal fade" id="new_user_modal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModalLabel"> Asset </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="new_user_form">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="show_user_modal" tabindex="-1" aria-labelledby="showUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showUserModalLabel"> Asset </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="show_user_form">
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="ps-4">Place</th>
      <th class="ps-4">Address</th>
      <th class="ps-4">Category</th>
      <th class="ps-4">Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="user_table">
      <%= render @map_assets %>
  </tbody>
</table>
