<div class="jumbotron">
  <h1 class="display-4">Asset</h1>
 <p>
  <strong>Place:</strong>
  <%= @map_asset.place %>
</p>
<p>
  <strong>Address:</strong>
  <%= @map_asset.address %>
</p>
<p>
  <strong>Category:</strong>
  <%= @map_asset.category %>
</p>
<p>
  <strong>Review:</strong>
  <%= @map_asset.review %>
</p>
  <hr class="my-4">
</div>